pdfplumber
pymupdf
pandas
pydantic
jsonschema
python-dotenv
tqdm
torch 
torchvision 
torchaudio
transformers 
accelerate 
pillow
qwen-vl-utils
ipywidgets
docling
pymupdf 
python-docx
transformers 
accelerate 
bitsandbytes 
json-repair 
jsonschema